{% extends "admin/base_admin_dash.html"%}

{% block bootlink%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block greet%}
{{aname.name|capitalize}}
{% endblock %}




{% block content %}

<div class="container my-5">
  <div class="row justify-content-center">

    <div class="col-12 col-md-6 mb-4">
      <h3 class="text-center">Service Request Status</h3>
      <canvas id="statusChart" width="200" height="200"></canvas>
    </div>

 
    <div class="col-12 col-md-6 mb-4">
      <h3 class="text-center">Customer Ratings</h3>
      <canvas id="ratingsChart" width="200" height="200"></canvas>
    </div>

    <div class="col-12 col-md-6 mb-4">
      <h3 class="text-center">Most Popular Requests</h3>
      <canvas id="mostRequestedServicesChart" width="200" height="200"></canvas>
    </div>

    <div class="col-12 col-md-6 mb-4">
      <h3 class="text-center">Average ratings by Service</h3>
      <canvas id="averageRatingsChart" width="200" height="200"></canvas>
    </div>
  </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
  // Service request ka status chart
  
  const statusData = JSON.parse('{{ status_data | tojson }}');
  const statusLabels = Object.keys(statusData);
  const statusValues = Object.values(statusData);
  const statusCtx = document.getElementById('statusChart').getContext('2d');

  new Chart(statusCtx, {
    type: 'pie',
    data: {
      labels: statusLabels,
      datasets: [{
        label: 'Requests',
        data: statusValues,
        backgroundColor: [
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true
    }
  });

  
  //Customer Ratings ka Chart
  
  const ratingsData = JSON.parse('{{ ratings_data | tojson }}');
  const ratingsLabels = Object.keys(ratingsData);
  const ratingsValues = Object.values(ratingsData);
  const ratingsCtx = document.getElementById('ratingsChart').getContext('2d');

  new Chart(ratingsCtx, {
    type: 'bar',
    data: {
      labels: ratingsLabels,
      datasets: [{
        label: 'Number of Ratings',
        data: ratingsValues,
        backgroundColor: 'rgba(65, 142, 182, 0.6)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 1,
            precision: 0
          }
        }
      }
    }
  });


  //Most Popular requests Chart
  
  const services = JSON.parse('{{ services | tojson}}');
  const requestsCountDataJson = '{{ requests_count | tojson }}';
  const requestsCount = JSON.parse(requestsCountDataJson);
  const popularctx = document.getElementById('mostRequestedServicesChart').getContext('2d');

  new Chart(popularctx, {
    type: 'bar',
    data: {
      labels: services,
      datasets: [{
        label: "Number of Requests",
        data: requestsCount,
        backgroundColor: 'rgba(75,166,152,0.6)',
        borderColor: 'black',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepsize: 1,
            precision: 0
          }
        }
      }
    }
  })

  //Average ratings of Service Chart
  
  const rat_servicesDataJson = '{{ services | tojson }}';
  const rat_services = JSON.parse(rat_servicesDataJson)
  const avgRatingsDataJson = '{{ avg_ratings | tojson }}';
  const avgRatings = JSON.parse(avgRatingsDataJson)
  const ratingctx = document.getElementById('averageRatingsChart').getContext('2d');

  new Chart(ratingctx, {
    type: 'bar',
    data: {
      labels: rat_services,
      datasets: [{
        label: 'Average Rating',
        data: avgRatings,
        backgroundColor: 'rgba(75, 192, 192, 0.6)',
        borderColor: 'black',
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 1,
            max: 5,
            precision: 0
          }
        }
      }
    }
  });


</script>

{% endblock %}
