{% extends "base.html" %} {% block title%}Login page {% endblock %} {% block
styles %}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/login-page-style.css')}}"
/>
{% endblock %} {%block content %}
 

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow" style="width: 24rem;">

      <h2 class="text-center mb-4">Login Here</h2>

      <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          <label for="email" class="form-label">Email Address:</label>
          {{ form.email(class='form-control',placeholder='Enter your Email', size=32) }}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          {{ form.password(class='form-control',placeholder='Enter your password',size=32) }}
        </div>
        <div>{{ form.submit(type='submit',class='btn btn-primary') }}</div>
      </form>
      <br>

      <p>
        <a href="/register">Create an Account</a>
      </p>

      <div>
        <button class="btn btn-primary">
          <a href="/register-professional" style="color: white;">Register as Professional</a>
        </button>

      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{%endblock%}
